@charset "utf-8";

*{ margin:0; padding:0; }
body{ font-size:0.28rem; overflow-x:hidden; font-family:"Microsoft YaHei";}
li{ list-style:none;}
a{ text-decoration:none;}
b{ font-weight:normal;}
.clearfix:after{ display:block; content:''; clear:both;}
.fl{float:left;}
.fr{ float:right;}
.dn{ display:none;}
.db{ display:block;}
img{ vertical-align:top; width:100%;}
input{ outline:none;}

